<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="StringMain" connectionString="Server=.\SQLEXPRESS;DataBase=Exam;UID=sa;PWD=123;"/>
    <add name="StringInter" connectionString="Server=.\SQLEXPRESS;DataBase=M-Sale;UID=sa;PWD=123;"/>
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1"
                 maxReceivedMessageSize = "2147483647">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="custom">
        <endpoint bindingConfiguration="Binding1" binding="basicHttpBinding" address="" contract="MQ_Service"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
